LearnOpenGL/LearnOpenGL/Test/.vs/
LearnOpenGL/LearnOpenGL/Test/Debug/
LearnOpenGL/LearnOpenGL/Test/LearnOpenGL/Debug/
LearnOpenGL/Game/BreakOut/.vs
LearnOpenGL/Game/BreakOut/BreakOut/BreakOut.vcxproj
LearnOpenGL/Game/BreakOut/BreakOut/Debug/
