LearnOpenGL/Test/LearnOpenGLTest2/LearnOpenGLTest2/Debug/
LearnOpenGL/Test/LearnOpenGLTest/LearnOpenGLTest/Debug/
LearnOpenGL/Test/LearnOpenGLTest2/Debug/
LearnOpenGL/Test/LearnOpenGLTest2/.vs/
LearnOpenGL/Test/LearnOpenGLTest/.vs/
LearnOpenGL/Test/LearnOpenGLTest/Debug/
LearnOpenGL/Test/LearnOpenGLTest2/LearnOpenGLTest2/x64/
LearnOpenGL/Test/LearnOpenGLTest2/LearnOpenGLTest2/x64/Debug/
LearnOpenGL/Test/LearnOpenGLTest2/x64/Debug/LearnOpenGLTest2.pdb
LearnOpenGL/Game/BreakOut/.vs/BreakOut/v16/.suo
*.db
*.ipch
*.vcxproj
*.db-shm
*.obj
*.obj
LearnOpenGL/Game/BreakOut/.vs/BreakOut/v16/Browse.VC.db-wal
LearnOpenGL/Game/BreakOut/.vs/BreakOut/v16/Browse.VC.opendb
LearnOpenGL/Game/BreakOut/BreakOut/BreakOut.vcxproj
LearnOpenGL/Game/BreakOut/BreakOut/Debug/BreakOut.exe.recipe
LearnOpenGL/Game/BreakOut/BreakOut/Debug/BreakOut.log
LearnOpenGL/Game/BreakOut/BreakOut/Debug/BreakOut.obj
LearnOpenGL/Game/BreakOut/BreakOut/Debug/BreakOut.tlog/BreakOut.lastbuildstate
LearnOpenGL/Game/BreakOut/BreakOut/Debug/BreakOut.tlog/CL.command.1.tlog
LearnOpenGL/Game/BreakOut/BreakOut/Debug/BreakOut.tlog/CL.read.1.tlog
LearnOpenGL/Game/BreakOut/BreakOut/Debug/BreakOut.tlog/CL.write.1.tlog
LearnOpenGL/Game/BreakOut/BreakOut/Debug/BreakOut.tlog/link.command.1.tlog
LearnOpenGL/Game/BreakOut/BreakOut/Debug/BreakOut.tlog/link.read.1.tlog
LearnOpenGL/Game/BreakOut/BreakOut/Debug/BreakOut.tlog/link.write.1.tlog
LearnOpenGL/Game/BreakOut/BreakOut/Debug/Game.obj
LearnOpenGL/Game/BreakOut/BreakOut/Debug/GameLevel.obj
LearnOpenGL/Game/BreakOut/BreakOut/Debug/GameObject.obj
LearnOpenGL/Game/BreakOut/BreakOut/Debug/glad.obj
LearnOpenGL/Game/BreakOut/BreakOut/Debug/ResourceManager.obj
LearnOpenGL/Game/BreakOut/BreakOut/Debug/Shader.obj
LearnOpenGL/Game/BreakOut/BreakOut/Debug/SpriteRenderer.obj
LearnOpenGL/Game/BreakOut/BreakOut/Debug/stb.image.obj
LearnOpenGL/Game/BreakOut/BreakOut/Debug/Texture2D.obj
LearnOpenGL/Game/BreakOut/BreakOut/Debug/vc142.idb
LearnOpenGL/Game/BreakOut/BreakOut/Debug/vc142.pdb
LearnOpenGL/Game/BreakOut/BreakOut/Game.cpp
LearnOpenGL/Game/BreakOut/Debug/BreakOut.exe
LearnOpenGL/Game/BreakOut/Debug/BreakOut.ilk
LearnOpenGL/Game/BreakOut/Debug/BreakOut.pdb
*.tlog
*.ilk
*.recipe
*.pdb
*.idb
*.log
*.ilk
*.exe
*.sln
*.filters
*.user
LearnOpenGL/LearnOpenGL/.vs/LearnOpenGL/v16/.suo
